<!DOCTYPE html>
<html lang="en">
	<script>
		if (window.trustedTypes && window.trustedTypes.createPolicy) {
			window.trustedTypes.createPolicy('default', {
				createHTML: string => string,
				createScriptURL: string => string,
				createScript: string => string
			});
		}
	</script>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{%include('favico.twig')%}
		<meta name="description" content="Personal Website of Martin Wadeson">
		<title>Martin Wadeson</title>
		<meta name="description" content="Experienced web developer and server architect">
		<link rel="preload" href="{{constant('SITE_CSS')}}main.css?v={{constant('CACHEBUSTER')}}" as="style" fetchpriority="high"/>
		<link rel="preload" href="{{constant('SITE_FONTS')}}terminus.woff2" as="font" type="font/woff2" crossorigin fetchpriority="high"/>
		<link rel="stylesheet" type="text/css" href="{{constant('SITE_CSS')}}main.css?v={{constant('CACHEBUSTER')}}">
	</head>
	<body>
		<div id="container">
			<div id="starfield">
				<div class="stars"></div>
				<div class="stars2"></div>
				<div class="stars3"></div>
			</div>
			<div id="scroller">
				<span>W</span>
				<span>E</span>
				<span>L</span>
				<span>C</span>
				<span>O</span>
				<span>M</span>
				<span>E</span>
				<span>&nbsp;</span>
				<span>T</span>
				<span>O</span>
				<span>&nbsp;</span>
				<span>M</span>
				<span>A</span>
				<span>R</span>
				<span>T</span>
				<span>I</span>
				<span>N</span>
				<span>W</span>
				<span>A</span>
				<span>D</span>
				<span>E</span>
				<span>S</span>
				<span>O</span>
				<span>N</span>
				<span>.</span>
				<span>C</span>
				<span>O</span>
				<span>M</span>
			</div>
			<div id="grid">
				<div class="scene">
					<div class="grid"></div>
				</div>
			</div>
			<div id="cube">
				<div class="scene">
					<div class="cube">
						<div class="face front"></div>
						<div class="face back"></div>
						<div class="face right"></div>
						<div class="face left"></div>
						<div class="face top"></div>
						<div class="face bottom"></div>
					</div>
				</div>
			</div>
			<div id="ansi">
				<div class="scene">
					<span>█</span><span>█</span><span>█</span><span> </span><span> </span><span> </span><span> </span><span>█</span><span>█</span><span>█</span><span> </span><span>█</span><span>█</span><span> </span><span> </span><span> </span><span> </span><span> </span><span>█</span><span>█</span><span> </span><br/><span>█</span><span>█</span><span>█</span><span>█</span><span> </span><span> </span><span>█</span><span>█</span><span>█</span><span>█</span><span> </span><span>█</span><span>█</span><span> </span><span> </span><span> </span><span> </span><span> </span><span>█</span><span>█</span><span> </span><br/><span>█</span><span>█</span><span> </span><span>█</span><span>█</span><span>█</span><span>█</span><span> </span><span>█</span><span>█</span><span> </span><span>█</span><span>█</span><span> </span><span> </span><span>█</span><span> </span><span> </span><span>█</span><span>█</span><span> </span><br/><span>█</span><span>█</span><span> </span><span> </span><span>█</span><span>█</span><span> </span><span> </span><span>█</span><span>█</span><span> </span><span>█</span><span>█</span><span> </span><span>█</span><span>█</span><span>█</span><span> </span><span>█</span><span>█</span><span> </span><br/><span>█</span><span>█</span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span>█</span><span>█</span><span> </span><span> </span><span>█</span><span>█</span><span>█</span><span> </span><span>█</span><span>█</span><span>█</span><span> </span><span> </span>
				</div>
			</div>
			<div id="content" role="main">
				<input type="radio" id="page1" checked name="pageSelector"/>
				<input type="radio" id="page2" name="pageSelector"/>
				<input type="radio" id="page3" name="pageSelector"/>
				<input type="radio" id="page4" name="pageSelector"/>
				<div id="pagesContainer">
					<div class="pageContainer page1">
						<div class="pageContent">
							<p class="header glitch" data-text="Hello World!">Hello World!</p>
							<p>I'm a full-stack developer with over 13 years of professional experience in web/system development and server architecture.</p>
							<p>My main tools include (but aren't limited to) PHP, Javascript and MySQL.</p>
							<p>I've turned many ideas into practice. Refactored many legacy systems. Optimised and debugged many problems.</p>
							<label class="arrowDown" for="page2"></label>
						</div>
					</div>
					<div class="pageContainer page2">
						<div class="pageContent">
							<label class="arrowUp" for="page1"></label>
							<p>Here are some things I've created* through my years of working on Stuff™</p>
							<input type="radio" id="slide1pro" checked name="slideProSelector"/>
							<input type="radio" id="slide2pro" name="slideProSelector"/>
							<input type="radio" id="slide3pro" name="slideProSelector"/>
							<div class="showcase" id="showcasePro">
								<div class="slideContainer">
									<label></label>
									<div class="slide">
										<img src="{{constant('SITE_IMG')}}msm.svg" loading="lazy"/>
										<div class="text">
											<p>The API powering <a href="https://www.moneysupermarket.com/new-boiler/" target="_blank" rel="noreferrer">Money Supermarket's New Boiler comparison</a> was originally created by yours truly before being sold to them.</p>
											<p>Working alongside multiple heating system providers across the country I processed and transposed a questionnaire before sending it to various APIs.</p>
											<p>The resulting listings were converted to a standardised format and returned to be displayed on the website/emails/etc.</p>
										</div>
									</div>
									<label class="arrowRight" for="slide2pro"></label>
								</div>
								<div class="slideContainer">
									<label class="arrowLeft" for="slide1pro"></label>
									<div class="slide">
										<img src="{{constant('SITE_IMG')}}bet.svg" loading="lazy"/>
										<div class="text">
											<p><a href="https://www.bettingodds.com/" target="_blank" rel="noreferrer">An entire system for bringing bookmakers betting odds together.</a></p>
											<p>Multiple feeds of various formats are brought together to provide end users with an up to date comparison of who is providing which odds across multiple events.</p>
											<p>Incredibly large quantities of data being warehoused and input to a central database replicated across various locations.</p>
											<p>Various techniques to automatically best match events/teams/players/etc across various naming conventions alongside a tool suite to allow manually mapping connections.</p>
											<p>Automatically prioritising the retrieval and update of priority events (e.g. live events currently taking place).</p>
										</div>
									</div>
									<label class="arrowRight" for="slide3pro"></label>
								</div>
								<div class="slideContainer">
									<label class="arrowLeft" for="slide2pro"></label>
									<div class="slide">
										<img src="{{constant('SITE_IMG')}}stj.svg" loading="lazy"/>
										<div class="text">
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
											tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
											quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
											consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
											cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
											proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
										</div>
									</div>
									<label></label>
								</div>
							</div>
							<p class="small">*it's entirely possible these have changed since my time working on them, feel free to ask me more about it</p>
							<label class="arrowDown" for="page3"></label>
						</div>
					</div>
					<div class="pageContainer page3">
						<div class="pageContent">
							<label class="arrowUp" for="page2"></label>
							<p>And here are some personal projects that I've created for myself but share with the world.</p>
							<input type="radio" id="slide1per" checked name="slidePerSelector"/>
							<input type="radio" id="slide2per" name="slidePerSelector"/>
							<div class="showcase" id="showcasePer">
								<div class="slideContainer">
									<label></label>
									<div class="slide">
										<img src="{{constant('SITE_IMG')}}cddastory.png" loading="lazy"/>
										<div class="text">
											<p><a href="https://cddastory.jarfjam.co.uk/" target="_blank">CDDA Story Browser</a></p>
											<p>Cataclysm: Dark Days Ahead is an open source community built videogame that is constantly being updated. In the game are various snippets of lore to be found in the form of scribbled notes, media files and more that I find to be very interesting.</p>
											<p>I've created a system that parses through the game files to retrieve these snippets of lore for easy viewing via the website.</p>
										</div>
									</div>
									<label class="arrowRight" for="slide2per"></label>
								</div>
								<div class="slideContainer">
									<label class="arrowLeft" for="slide1per"></label>
									<div class="slide">
										<img src="{{constant('SITE_IMG')}}arenadekt.png" loading="lazy"/>
										<div class="text">
											<p><a href="https://arenadekt.jarfjam.co.uk/" target="_blank">ArenaDekt</a></p>
											<p>I play Magic: The Gathering with friends and wanted a way to convert my physical paper decks stored on <a href="https://archidekt.com/folders/578699" target="_blank" rel="noreferrer">Archidekt</a> to the historic brawl format in the digital game.</p>
											<p>Using data from the <a href="https://scryfall.com/docs/api" target="_blank" rel="noreferrer">Scryfall API</a> I compare the two.</p>
											<p>Upon completion it will list the cards that had to be removed due to format rulings/availabilty and also list those that were replaced with the digital equivalent of the original card.</p>
											<p>The output is then sent to the clipboard where it can be pasted into the digital game to create a new deck.</p>
										</div>
									</div>
								</div>
							</div>
							<label class="arrowDown" for="page4"></label>
						</div>
					</div>
					<div class="pageContainer page4">
						<div class="pageContent">
							<label class="arrowUp" for="page3"></label>
							<p class="header glitch" data-text="Socials">Socials</p>
							<div id="socialsContainer">
								<a href="https://github.com/Jarf" target="_blank"><img height="120" width="120" src="{{constant('SITE_IMG')}}github.svg" loading="lazy"/><p>GitHub</p></a>
								<a href="https://www.linkedin.com/in/martin-wadeson-a936a922/" target="_blank"><img height="120" width="120" src="{{constant('SITE_IMG')}}linkedin.svg" loading="lazy"/><p>LinkedIn</p></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="counter">
				You are visitor {{visitorcount}}
			</div>
		</div>
</html>