<!DOCTYPE html>
<html lang="en">
	<script>
		if (window.trustedTypes && window.trustedTypes.createPolicy) {
			window.trustedTypes.createPolicy('default', {
				createHTML: string => string,
				createScriptURL: string => string,
				createScript: string => string
			});
		}
	</script>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{%include('favico.twig')%}
		<meta name="description" content="Personal Website of Martin Wadeson">
		<title>Martin Wadeson</title>
		<meta name="description" content="Experienced web developer and server architect">
		<link rel="preload" href="{{constant('SITE_CSS')}}main.css?v={{constant('CACHEBUSTER')}}" as="style" fetchpriority="high"/>
		<link rel="preload" href="{{constant('SITE_FONTS')}}terminus.woff2" as="font" type="font/woff2" crossorigin fetchpriority="high"/>
		<link rel="stylesheet" type="text/css" href="{{constant('SITE_CSS')}}main.css?v={{constant('CACHEBUSTER')}}">
	</head>
	<body>
		<div id="container">
			<div id="starfield">
				<div class="stars"></div>
				<div class="stars2"></div>
				<div class="stars3"></div>
			</div>
			<div id="scroller">
				<span>W</span>
				<span>E</span>
				<span>L</span>
				<span>C</span>
				<span>O</span>
				<span>M</span>
				<span>E</span>
				<span>&nbsp;</span>
				<span>T</span>
				<span>O</span>
				<span>&nbsp;</span>
				<span>M</span>
				<span>A</span>
				<span>R</span>
				<span>T</span>
				<span>I</span>
				<span>N</span>
				<span>W</span>
				<span>A</span>
				<span>D</span>
				<span>E</span>
				<span>S</span>
				<span>O</span>
				<span>N</span>
				<span>.</span>
				<span>C</span>
				<span>O</span>
				<span>M</span>
			</div>
			<div id="grid">
				<div class="scene">
					<div class="grid"></div>
				</div>
			</div>
			<div id="cube">
				<div class="scene">
					<div class="cube">
						<div class="face front"></div>
						<div class="face back"></div>
						<div class="face right"></div>
						<div class="face left"></div>
						<div class="face top"></div>
						<div class="face bottom"></div>
					</div>
				</div>
			</div>
			<div id="ansi">
				<div class="scene">
					<span>█</span><span>█</span><span>█</span><span> </span><span> </span><span> </span><span> </span><span>█</span><span>█</span><span>█</span><span> </span><span>█</span><span>█</span><span> </span><span> </span><span> </span><span> </span><span> </span><span>█</span><span>█</span><span> </span><br/><span>█</span><span>█</span><span>█</span><span>█</span><span> </span><span> </span><span>█</span><span>█</span><span>█</span><span>█</span><span> </span><span>█</span><span>█</span><span> </span><span> </span><span> </span><span> </span><span> </span><span>█</span><span>█</span><span> </span><br/><span>█</span><span>█</span><span> </span><span>█</span><span>█</span><span>█</span><span>█</span><span> </span><span>█</span><span>█</span><span> </span><span>█</span><span>█</span><span> </span><span> </span><span>█</span><span> </span><span> </span><span>█</span><span>█</span><span> </span><br/><span>█</span><span>█</span><span> </span><span> </span><span>█</span><span>█</span><span> </span><span> </span><span>█</span><span>█</span><span> </span><span>█</span><span>█</span><span> </span><span>█</span><span>█</span><span>█</span><span> </span><span>█</span><span>█</span><span> </span><br/><span>█</span><span>█</span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span>█</span><span>█</span><span> </span><span> </span><span>█</span><span>█</span><span>█</span><span> </span><span>█</span><span>█</span><span>█</span><span> </span><span> </span><br/><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span>
				</div>
			</div>
			<div id="content" role="main">
				<input type="radio" id="page1" checked name="pageSelector"/>
				<input type="radio" id="page2" name="pageSelector"/>
				<input type="radio" id="page3" name="pageSelector"/>
				<div id="pagesContainer">
					<div class="pageContainer page1">
						<div class="pageContent">
							<p class="header glitch" data-text="Hello World!">Hello World!</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
							<label class="arrowDown" for="page2"></label>
						</div>
					</div>
					<div class="pageContainer page2">
						<div class="pageContent">
							<label class="arrowUp" for="page1"></label>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
							<label class="arrowDown" for="page3"></label>
						</div>
					</div>
					<div class="pageContainer page3">
						<div class="pageContent">
							<label class="arrowUp" for="page2"></label>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
					</div>
				</div>
			</div>
			<div id="counter">
				You are visitor {{visitorcount}}
			</div>
		</div>
</html>