<!DOCTYPE html>
<html lang="en">
	<script>
		if (window.trustedTypes && window.trustedTypes.createPolicy) {
			window.trustedTypes.createPolicy('default', {
				createHTML: string => string,
				createScriptURL: string => string,
				createScript: string => string
			});
		}
	</script>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{%include('favico.twig')%}
		<meta name="description" content="Personal Website of Martin Wadeson">
		<title>Martin Wadeson</title>
		<meta name="description" content="Experienced web developer and server architect">
		<link rel="preload" href="{{constant('SITE_CSS')}}main.css?v={{constant('CACHEBUSTER')}}" as="style" fetchpriority="high"/>
		<link rel="preload" href="{{constant('SITE_FONTS')}}terminus.woff2" as="font" type="font/woff2" crossorigin fetchpriority="high"/>
		<link rel="stylesheet" type="text/css" href="{{constant('SITE_CSS')}}main.css?v={{constant('CACHEBUSTER')}}">
	</head>
	<body>
		<div id="container">
			<div id="starfield">
				<div class="stars"></div>
				<div class="stars2"></div>
				<div class="stars3"></div>
			</div>
			<div id="scroller">
				<span>W</span>
				<span>E</span>
				<span>L</span>
				<span>C</span>
				<span>O</span>
				<span>M</span>
				<span>E</span>
				<span>&nbsp;</span>
				<span>T</span>
				<span>O</span>
				<span>&nbsp;</span>
				<span>M</span>
				<span>A</span>
				<span>R</span>
				<span>T</span>
				<span>I</span>
				<span>N</span>
				<span>W</span>
				<span>A</span>
				<span>D</span>
				<span>E</span>
				<span>S</span>
				<span>O</span>
				<span>N</span>
				<span>.</span>
				<span>C</span>
				<span>O</span>
				<span>M</span>
			</div>
			<div id="grid">
				<div class="scene">
					<div class="grid"></div>
				</div>
			</div>
			<div id="cube">
				<div class="scene">
					<div class="cube">
						<div class="face front"></div>
						<div class="face back"></div>
						<div class="face right"></div>
						<div class="face left"></div>
						<div class="face top"></div>
						<div class="face bottom"></div>
					</div>
				</div>
			</div>
			<div id="content" role="main">
				<div id="contentBody">
					<div id="links">
						<b>Personal Projects</b>
						<a href="https://cddastory.jarfjam.co.uk/">CDDA Story</a>
						<a href="https://arenadekt.jarfjam.co.uk/">ArenaDekt</a>
						<br/>
						<b>Socials</b>
						<a href="https://github.com/Jarf">GitHub</a>
						<a href="https://www.linkedin.com/in/martin-wadeson-a936a922/">LinkedIn</a>
					</div>
				</div>
			</div>
			<div id="counter">
				You are visitor {{visitorcount}}
			</div>
		</div>
</html>